* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body.debug div[class^="col-"] > div {
  height: 50px;
}

.container {
  width: 80%;
  margin: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

[class^="col-"] {
float: left;
padding: 15px 0;
}

.col-100 {
  width: 100%
}

.col-50 {
  width: 50%;
}

.col-25 {
  width: 25%;
}

.bg-pink {
  background-color: pink;
}

.bg-brown {
  background-color: #ffbb33;
}

.pad-left {
  padding-left: 5px;
}

.blue {
  background-color: blue;
}

.cyan {
  background-color: #1a75ff;
}

.purple {
  background-color: #b300b3;
}
